<div class="grid__item medium-up--three-fifths medium-up--push-one-fifth whats-new-link whats-new-link-{{ block.id }}">
  {% if block.settings.title != blank %}
    <a href="{{block.settings.link}}">
      <p>{{ block.settings.title }}</p>
    </a>
  {% endif %}
</div>