{% assign current_path = request.path %}
{% assign top_parent_found = false %}

<div class="collection-sidebar small--hide">
  <ul class="no-bullets tag-list tag-list--active-tags">
    {% for link in linklists.main-menu.links %}
      {% if link.url == current_path or link.child_active %}
        {% assign top_parent_found = true %}
      {% endif %}

      {% if top_parent_found %}
        {% if link.links != blank %}
          {% for child_link in link.links %}
            <li class="tag {% if child_link.url == current_path %}active{% endif %}">
              <a href="{{ child_link.url }}" class="no-ajax" style="{% if child_link.url == current_path %}font-weight: bold;{% endif %}">
                {{ child_link.title }}
              </a>
            </li>
          {% endfor %}
        {% endif %}
        {% break %}
      {% endif %}
    {% endfor %}
  </ul>
</div>