{% if linklists.shop %}
  <div class="collection-sidebar small--hide">
    <ul class="no-bullets tag-list tag-list--active-tags">
      {% for link in linklists.shop.links %}
        <li class="tag">
          <a href="{{ link.url }}">{{ link.title }}</a>
          {% if link.links %}
            <ul>
              {% for child_link in link.links %}
                <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <p>Shop menu not found.</p>
{% endif %}