<div class="page-width page-width--narrow page-content">
  {%- render 'breadcrumbs' -%}
  {% if section.settings.page_title_enable %}
  <header class="section-header">
    <h1 class="section-header__title">{{ page.title }}</h1>
  </header>
  {% endif %}
  {% if section.settings.page_content_enable %}
  <div class="rte rte--nomargin">
    {{ page.content }}
  </div>
    {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
   "settings":  [
     {
      "type": "checkbox",
      "id": "page_title_enable",
      "label": "Title enable",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "page_content_enable",
      "label": "Content Enable",
      "default": false
    },
   ]
}
{% endschema %}
