{% if customer %}
               <script>
                  localStorage.setItem('customerEmail', '{{ customer.email }}')
               </script>
            {% endif %}
        <div data-quiz-kit-key="z5DA-wpqbV"></div>